* {
    text-align: center;
    background-color:darkslategray;
    color: yellow;
    

}

#title {
    margin-top:40px;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size:55px;
}

input[type=text] {
    width: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

container {
    font-size: 20px;
    font-family: 'Caveat Brush', cursive;

}

